<nav class="topnav">
  
  <ul class="navbar-nav">
    <p>PEA</p>
    <li class="active">
      <a class="nav-link" href="/login">Login</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/registrar">Registrar</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="">Bienvenida</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/paginaprincipal">PaginaPrincipal</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/quienessomos">QuienesSomos</a>
    </li>

    

  </ul>
</nav>

<router-outlet></router-outlet>