<!--
<div class="BarraNavegacionPrincipal">
    <ul class="BarraNavegacion">
        <li class="ListadoNavegacion">
            <a class="ActivadoNavegacion" href="">PEA</a>
        </li>
    
        <li class="ListadoNavegacion" style="float:right">
            <a class="LinkNavegacion" href="/configuracion">configuracion</a>
        </li>
    </ul>
</div>

<img class="NavIcon" src="assets/images/house.png">
-->

<div class="BarraNavegacion">
    <li class="ListadoNavegacion">
        <a class="ActivadoNavegacion" href="">PEA</a>
    </li>

    <li class="ListadoNavegacion" style="float:right">
        <a class="LinkNavegacion" href="#"><img class="NavIcon" src="assets/images/userIcon.png"> Usuario</a>
    </li>

    <li class="ListadoNavegacion" style="float:right">
        <a class="LinkNavegacion" href="#"><img class="NavIcon" src="assets/images/books.png"> Tus Cursos</a>
    </li>

    <li class="ListadoNavegacion" style="float:right">
        <a class="LinkNavegacion" href="#"><img class="NavIcon" src="assets/images/house.png"> Pagina Principal</a>
    </li>

    
</div>




<div>
    
</div>