<div>
    <form>
        <div>
            <input type="nombre" name="nombre" placeholder="Nombre">
        </div>

        <div>
            <input type="apellidos" name="apellidos" placeholder="Apellidos">
        </div>

        <div>
            <input type="email" name="email" placeholder="Email">
        </div>

        <div>
            <input type="password" name="password" placeholder="Password">
        </div>

        <div>
            <button type="Submit">Registrar</button>
        </div>

    </form>
</div>
