<div class="BarraNavegacion">
    <li class="ListadoNavegacion">
        <a class="ActivadoNavegacion" href="">PEA</a>
    </li>

    <li class="ListadoNavegacion" style="float:right">
        <a class="LinkNavegacion" (click)="UserMenu()"><img class="NavIcon" src="assets/images/userIcon.png"> {{ datousuario.Nombre }}</a>
    </li>

    <li class="ListadoNavegacion" style="float:right">
        <a class="LinkNavegacion" href="#/paginatuscursos"><img class="NavIcon" src="assets/images/books.png"> Tus Cursos</a>
    </li>

    <li class="ListadoNavegacion" style="float:right">
        <a class="LinkNavegacion" href="#/paginaprincipal"><img class="NavIcon" src="assets/images/house.png"> Pagina Principal</a>
    </li>
</div>

<app-menu-usuario *ngIf="FlagMenu"></app-menu-usuario>
